<template>
  <div class="about">
    <h1>Галерея</h1>
    <div v-for="slide in slides" :key="slide.id">
      <SlideComponent v-if="slide.id == counter" :slide="slide" />
    </div>
    <button @click="prevSlide()">Предыдущий слайд</button>
    <button @click="nextSlide()">Следующий слайд</button>
  </div>
</template>

<script>
import SlideComponent from '@/components/SlideComponent.vue'
export default {  
  components: {
    SlideComponent
  },
  data() {
    return {
      counter: 1,
      slides: [
        {
          id: 1,
          title: "Отделение хирургии",
          image: "https://avatars.mds.yandex.net/i?id=647d5b0b6eaf4a575b4ac74afcb9e4322627a29a-8199955-images-thumbs&n=13"
        },
        {
          id: 2,
          title: "Отделение МРТ и КТ",
          image: "https://avatars.mds.yandex.net/i?id=2170d3dbdfc96a06090590a7336265e4978b3d1d-6955035-images-thumbs&n=13"
        }
      ]
    }
  },
  methods: {
    prevSlide: function () {
      if (this.counter > 1) {
        this.counter--;
      } else {
        this.counter = this.slides.length;
      }
    },
    nextSlide: function () {
      if (this.counter < this.slides.length) {
        this.counter++;
      } else {
        this.counter = 1;
      }
    }
  }
}
</script>

