<template>
  <div class="home">  
    <img alt="Bassein logo" :src="image" class="img">
    <HomeHit msg="Хиты продаж"/>
  </div>
</template>

<script>
import HomeHit from '@/components/HomeHit.vue'
import image from "../assets/1667530094_5-sportishka-com-p-krasivii-bassein-vkontakte-6.jpg"

export default {
  name: 'HomeView',
  components: {
    HomeHit
  },
  data: function () {
    return {
      image: image
    }
  }
}
</script>
<style>
.img {
height: 600px;
}


</style>
