<template>
  <div class="about">
    <h1>Способы оплаты</h1>    
    <div class="about_text">
    <p class="text">Оплатить покупку в нашем интернет магазине Вы можете любым удобным для Вас способом из предоставленных ниже</p>
    <h2>Наличными деньгами</h2>
    <p class="text">При самовывозе товара производится оплата в кассу магазина.</p>     
    <h2>Платежной картой</h2>
    <p class="text">Оплата через pos-терминалы на кассе магазина.</p>        
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  props: {
    msg: String    
  }  
}
</script>

<style scoped>
.about {
text-align: center;
}
.about_text {
text-align: center;
display: inline-block;
}
.text {
font-size: 18px;
text-align: left;
}
.image {
width: 700px;
}
</style>
