<template>
  <div class="about">
    <h1>Контактная информация</h1>
    <div v-if="contacts && contacts.length">
    <div v-for="contact of contacts" :key="contact.id">{{ contact.name }} - {{ contact.bin }} {{ contact.address }}</div>    
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {   
  data() {
    return {
      contacts: []      
    }
},
  created() {
    axios.get(`http://seric0.kz/API/Magazine/getContacts.php`)
    .then(response => {  
      this.contacts = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  } 
}
</script>
