<template>
  <div class="about">
    <h1>О компании</h1>    
    <div class="about_text">
    <img alt="seric0 logo" src="../assets/about.jpg" class="image">
    <p class="text">Компания - новая компания на рынке Казахстана в сфере продаж банных пренадлежностей.</p>     
    <p class="text">Компания предоставляет постоянные бонусные акции, распродажи и  скидоки.</p>
    <p class="text">Компания нацелена исключительно на качественное и надежное обслуживание своих покупателей.</p>    
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  props: {
    msg: String    
  }  
}
</script>

<style scoped>
.about {
text-align: center;
}
.about_text {
text-align: center;
display: inline-block;
}
.text {
font-size: 18px;
text-align: left;
}
.image {
width: 700px;
}
</style>
