<template>
  <div class="hits">
    <h2>{{ msg }}</h2>
    <div class="hit_tovars">
    <div class="hit_tovar">
    <router-link to="/catalog">
    <img alt="Bassein logo" src="../assets/4ac033efa6115bfd46cf54f485a42e6a.jpg" class="hit_img">
    <p class="tovar_title">Банная шапка</p>
    </router-link>
    <p class="tovar_price">2000 <i class="fa-solid fa-tenge-sign fa-sm"></i></p>    
    </div>
    <div class="hit_tovar">
    <router-link to="/catalog">
    <img alt="Bassein logo" src="../assets/13625245.jpg" class="hit_img">
    <p class="tovar_title">Банная купел</p>
    </router-link>
    <p class="tovar_price">3000 <i class="fa-solid fa-tenge-sign fa-sm"></i></p>
    </div>
    <div class="hit_tovar">
    <router-link to="/catalog">
    <img alt="Bassein logo" src="../assets/52969811-cont-14200.jpg" class="hit_img">
    <p class="tovar_title">Банное полотенце</p>
    </router-link>
    <p class="tovar_price">2500 <i class="fa-solid fa-tenge-sign fa-sm"></i></p>
    </div>
    <div class="hit_tovar">
    <router-link to="/catalog">
    <img alt="Bassein logo" src="../assets/6491578112.jpg" class="hit_img">
    <p class="tovar_title">Банный веник</p>
    </router-link>
    <p class="tovar_price">1500 <i class="fa-solid fa-tenge-sign fa-sm"></i></p>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  props: {
    msg: String    
  }  
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
a {
  color: #4682B4;
}
.main__text {
margin-left: 140px;
}
.tovar_title {
font-size: 20px;
}
.tovar_title:hover {
font-size: 20px;
color: #42b983;
}
.tovar_price {
font-size: 18px;
}
</style>
