<template>
<div class="stocks" v-if="stocks && stocks.length">
<div class="stock_panel" v-for="stock of stocks" :key="stock.id">
<img alt="Cascade logo" :src="stock.photo" class="stock_img">
<span class="stock_text">{{stock.name}}</span>
<p class="stock_time">{{stock.date}}</p>
<p class="stock_more"><router-link to="/stock">Подробнее</router-link></p>
</div>

</div>

<ul v-if="errors && errors.length">
      <li v-for="error of errors" :key="error.id">
        {{error.message}}
      </li>
    </ul> 
</template>

<script>
import axios from 'axios';

export default {
  name: 'HomeStocks',
  data() {
    return {
      stocks: [],
      errors: []            
    }
},
  created() {
    axios.get(`http://seric0.kz/API/Magazine/getStocks.php`)
    .then(response => {  
      this.stocks = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  } 
}
</script>

<style scoped>
.stocks {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}
.stock_panel {
display: flex;
gap: 30px;
border: 1px solid;
width: 1100px;
}
.stock_text {
margin-top: 40px;
font-size: 18px;
text-align: left;
width: 300px;
min-width: 300px;
}
.stock_time {
margin-top: 40px;
font-size: 18px;
width: 160px;
}
.stock_img {
height: 150px;
}
.stock_more {
margin-top: 80px;
text-decoration: none;
}
</style>
