<template>
<div class="main">
<router-link to="/"><img alt="seric0 logo" src="../assets/logo.jpg" class="logo"></router-link>
<form>
<input type="text" placeholder="Поиск товара" class="search">
</form>
<p class="email_phone">Обработка заказов С 10.00 до 17.00 seric0@mail.ru 87777923150</p>
<i class="fab fa-shopify"><span class="count" id="shop">0</span></i>
<p class="basket">Корзина пока пуста</p>
</div>
</template>