<template>
<ul class="menu">
  <li class="menu_active"><router-link to="/">Все категории</router-link>
  <ul class="sub-menu">
  <li><router-link to="/contact">Банные шапки</router-link></li>
  <li><router-link to="/galery">Банные руковицы</router-link></li>
  <li><router-link to="/galery">Банные половики</router-link></li>
  <li><router-link to="/galery">Банные веники</router-link></li>
  <li><router-link to="/galery">Банные полотенца</router-link></li>
  <li><router-link to="/contact">Банные халаты</router-link></li>
  <li><router-link to="/galery">Банная купель</router-link></li>  
  <li><router-link to="/galery">Банные наборы</router-link></li>
  </ul>
  </li>
  <li><router-link to="/galery">Банные шапки</router-link></li>  
  <li><router-link to="/galery">Банные полотенца</router-link></li>
  <li><router-link to="/galery">Банные халаты</router-link></li>
  <li><router-link to="/galery">Банные веники</router-link></li>  
  <li><router-link to="/stocks"><span class="actions">Акции</span></router-link></li>
  </ul>  
</template>

<style scoped>
.actions {
  color: #B22222;  
}
.actions:hover {
  color: #42b983;  
}
</style>