<template>
<ul>
    <li class="footer__menu"><router-link to="/about">О компании</router-link></li>
    <li class="footer__menu"><router-link to="/">Адреса магазинов</router-link></li>    
    <li class="footer__menu"><router-link to="/">Доставка</router-link></li>      
    <li class="footer__menu"><router-link to="/payment">Способы оплаты</router-link></li> 
    <li class="footer__menu"><router-link to="/contact">Контакты</router-link></li>           
</ul>
</template>

<style sroped>
li a {
text-decoration: none;
font-size: 18px;
color: #2c3e50;
}
li a:hover {
text-decoration: underline;
}
</style>