<template>
<div class="stocks">
<div class="stock_panel">
<img alt="Cascade logo" src="../assets/cascade.png" class="stock_img">
<span class="stock_text">Каскадные скидки!</span>
<p class="stock_time">c 24.07 по 30.07</p>
<p class="stock_more"><router-link to="/galery">Подробнее</router-link></p>
</div>
</div>
</template>

<style scoped>
.stocks {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}
.stock_panel {
display: flex;
gap: 30px;
border: 1px solid;
width: 1100px;
}
.stock_text {
margin-top: 40px;
font-size: 18px;
text-align: left;
width: 300px;
min-width: 300px;
}
.stock_time {
margin-top: 40px;
font-size: 18px;
width: 160px;
}
.stock_img {
height: 150px;
}
.stock_more {
margin-top: 80px;
text-decoration: none;
}
</style>
