<template>      
    <div class="tovars" v-if="posts && posts.length">
    <div class="tovar" v-for="post of posts" :key="post.id">
    <div class="image">
    <router-link to="/catalog">
    <img alt="Tovar photo" class="img" :src="post.photo">    
    </router-link>
    </div>
    <div class="tovar_content">
    <router-link :to="'/catalog/' + post.id">            
    <p class="tovar_title">{{post.name}}</p>
    </router-link>    
    <p class="tovar_">Артикул: {{post.article}}</p>    
    <p class="tovar_">Страна производитель: {{post.capital}}</p>    
    <p class="tovar_">Размер: {{post.size}}</p>
    <p class="tovar_">Цвет: {{post.color}}</p>
    <p class="tovar_">Состав: {{post.structure}}</p>       
    </div>
    <div class="tovar_price_btn">
    <p class="tovar_price">{{post.price}}<i class="fa-solid fa-tenge-sign fa-sm"></i></p>
    <button class="by_btn">Купить</button>                 
    </div>
    </div>                   
    </div>    

    <ul v-if="errors && errors.length">
      <li v-for="error of errors" :key="error.id">
        {{error.message}}
      </li>
    </ul> 
</template>

<script>
import axios from 'axios';

export default {
  name: 'TovarCatalog',
  data() {
    return {
      posts: [],
      errors: []            
    }
},
  created() {
    axios.get(`http://seric0.kz/API/Magazine/getTovars.php`)
    .then(response => {  
      this.posts = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  } 
}
</script>

<style scoped>
image {
  position: relative;
}
.tovar_content {
display: inline-block;
text-align: left;
font-size: 12px;
}
.by_btn {
text-align: center;
white-space: nowrap;
cursor: pointer;
padding: 10px 20px;       
width: 137px;
height: 45px;
background: #1E90FF;
color: #FFF;  
font-weight: 600;
font-size: 18px;
line-height: 140%;  
}
.tovar_price {
margin-top: 50px;
font-weight: 700;
font-size: 36px;
color: #333333;
}
.tovar_price_btn {
display: flex;
flex-direction: column;
text-align: left;
float: right;
margin-right: 30px;
}
.tovars {
display: flex;
flex-direction: column;
gap: 5px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.tovar {
border: 1px solid;
border-color: #D3D3D3;
width: 800px;
min-height: 200px;
}
.tovar:hover {
border: 1px solid;
border-color: #D3D3D3;
box-shadow: 5px 5px #DCDCDC;
}
.img {
width: 200px;
height: 200px;
float: left;
}
a {
  color: #4682B4;
}
.tovar_title {
font-size: 20px;
}
.tovar_title:hover {
font-size: 20px;
color: #42b983;
}
.tovar_price {
font-size: 18px;
}
</style>
