<template>
<div class="main">
<MainHeader />
</div>
  <nav>
  <MainMenu/>  
  </nav>  
  <router-view/>
  <MainFooter/>
</template>
<script>
import MainMenu from '@/components/MainMenu.vue'
import MainHeader from '@/components/MainHeader.vue'
import MainFooter from '@/components/MainFooter.vue'

export default {
  components: {
    MainHeader,
    MainMenu,
    MainFooter
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.main {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.search {
height: 60px;
width: 400px;
padding-left: 20px;
box-shadow: none;
border-color: #ddd;
font-size: 18px;
color: #666;
}

.search:hover{
border-color: #00FF7F;
}

.email_phone {
font-size: 16px;
width: 150px;
line-height: 20px;
}


.fab{
    font-size: 44px;
    color: #42b983;
}

.count {
  font-size: 16px;
  position: absolute;
}

.basket {
width: 80px;
text-align: left;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;    
}

.main > li {
    position: relative;
}

.menu .sub-menu {
  list-style: none;
  position: absolute;
  display: none;
  text-align: left;  
  margin: 0;
  padding: 10px;
  width: 180px;
  z-index: 10;  
  border: 1px solid #ddd;
  box-shadow: none;
  background: #fff;
  line-height: 40px;
}

.menu > li:hover .sub-menu {  
  display: block;  
}

nav {
  padding: 30px;    
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  font-size: 18px;
}

nav a.router-link-exact-active {
  color: #42b983;
}

nav a:hover {
  text-decoration: none;
  color: #42b983;
}

.logo {
height: 60px;
weight: 60px;
}
.hit_tovars {
display: flex;
gap: 20px;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.hit_tovar {
border: 1px solid;
border-color: #D3D3D3;
}
.hit_tovar:hover {
border: 1px solid;
border-color: #D3D3D3;
box-shadow: 5px 5px #DCDCDC;
}
.hit_img {
width: 250px;
height: 250px;
}
.footer__menu {
display: inline-block;
margin: 0 10px;
}
</style>
